.total {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @media screen and (max-width: 971px) {
    top: 5%;
    left: 7%;
    transform: translate(0);
  }
}

.container {
  position: relative;
  height: 500px;
  width: 800px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.42);
}
