$card-color: rgb(65, 150, 247);
$input-color: rgb(94, 166, 248);
$title-color: rgb(226, 219, 219);

.card {
  width: 500px;
  height: 350px;
  border-radius: 10px;
  background: $card-color;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.52);
  padding-left: 40px;
  position: absolute;
  top: 70px;
  right: -45px;

  &__head {
    display: flex;
    justify-content: space-between;

    &__img {
      height: 120px;
      width: 130px;
      margin-top: -15px;
      margin-right: 30px;
    }

    &__title {
      color: #fff;
      font-size: 20px;
      font-weight: 500;
      margin-top: 27px;
      letter-spacing: 1px;
    }
  }
  &__number {
    &__title {
      font-size: 13px;
      color: $title-color;
      font-weight: 300;
    }

    &__input {
      border: none;
      background: $input-color;
      width: 220px;
      height: 32px;
      color: #fff;
      font-size: 15px;
      padding: 0 40px;
      border-radius: 3px;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;

    &__title {
      font-size: 13px;
      color: $title-color;
      font-weight: 300;
    }

    &__date {
      &__input {
        border: none;
        background: $input-color;
        color: #fff;
        padding: 6px;
        padding-left: 23%;
        width: 100px;
        font-weight: 300;
        cursor: pointer;
        border-radius: 3px;
      }
    }

    &__cvv {
      &__input {
        border: none;
        background: $input-color;
        color: #fff;
        padding: 6px 10px;
        width: 40px;
        font-weight: 300;
        cursor: pointer;
        margin-right: 90px;
        border-radius: 3px;
        padding-left: 17%;
      }
    }
  }
}
