body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.background {
  @media screen and (max-width: 971px) {
    display: none;
  }
  position: relative;
  height: 100vh;
  padding: 0;
  background: rgb(33, 126, 231);
  clip-path: polygon(0 30%, 90% 0, 100% 0, 100% 70%, 10% 100%, 0 100%);
}
